<!--
  ~ Nextcloud Talk - Android Client
  ~
  ~ SPDX-FileCopyrightText: 2017-2024 Nextcloud GmbH and Nextcloud contributors
  ~ SPDX-FileCopyrightText: 2021-2023 Marcel Hibbe <dev@mhibbe.de>
  ~ SPDX-FileCopyrightText: 2017-2019 Mario Danic <mario@lovelyhq.com>
  ~ SPDX-License-Identifier: GPL-3.0-or-later
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <!-- This permission is deprecated in Android P  -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <permission
        android:name="${applicationId}.${broadcastPermission}"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.${broadcastPermission}" />

    <application
        android:name="com.gcc.talk.gccApplication.GccTalkApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_config"
        android:icon="@mipmap/gcc_talk_icon"
        android:label="@string/nc_app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher"
        android:taskAffinity=""
        tools:ignore="UnusedAttribute"
        tools:replace="label, icon, theme, name, allowBackup">

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc"/>

        <meta-data
            android:name="android.max_aspect"
            android:value="10" />

        <activity
            android:name="com.gcc.talk.gccActivities.GccMainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.com.nextcloud.talk2.chat" />
                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.gcc.talk.gccAccount.GccServerSelectionActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".gccAccount.GccBrowserLoginActivity"
            android:theme="@style/AppTheme" />

        <activity android:name="com.gcc.talk.gccContacts.ContactsActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name="com.gcc.talk.gccConversationcreation.ConversationCreationActivity"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".gccAccount.GccAccountVerificationActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.gcc.talk.gccAccount.GccSwitchAccountActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.gcc.talk.gccChat.GccScheduledMessagesActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.gcc.talk.gccConversationlist.GccConversationsListActivity"
            android:exported="true"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.gcc.talk.gccChat.GccChatActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.gcc.talk.gccActivities.GccCallActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:showOnLockScreen="true"
            android:supportsPictureInPicture="true"
            android:taskAffinity=".call"
            android:theme="@style/AppTheme.CallLauncher" />

        <activity
            android:name="com.gcc.talk.gccCallnotification.GccCallNotificationActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:showOnLockScreen="true"
            android:supportsPictureInPicture="true"
            android:taskAffinity=".call"
            android:theme="@style/AppTheme.CallLauncher" />

        <activity
            android:name="com.gcc.talk.gccFullscreenfile.GccFullScreenImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullScreenImageTheme" />

        <activity
            android:name="com.gcc.talk.gccFullscreenfile.GccFullScreenMediaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullScreenMediaTheme" />

        <activity
            android:name="com.gcc.talk.gccFullscreenfile.GccFullScreenTextViewerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullScreenTextTheme" />

        <activity
            android:name="com.gcc.talk.gccActivities.GccTakePhotoActivity"
            android:theme="@style/TakePhotoTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.gcc.talk.gccShareditems.activities.GccSharedItemsActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.gcc.talk.gccRemotefilebrowser.activities.GccRemoteFileBrowserActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.gcc.talk.gccMessagesearch.GccMessageSearchActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.gcc.talk.gccLocation.GccLocationPickerActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.gcc.talk.gccLocation.GccGeocodingActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.gcc.talk.gccTranslate.ui.GccTranslateActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.gcc.talk.gccProfile.GccProfileActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.gcc.talk.gccSettings.GccSettingsActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.gcc.talk.gccDiagnose.GccDiagnoseActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.gcc.talk.gccConversationinfo.GccConversationInfoActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.gcc.talk.gccConversationinfoedit.GccConversationInfoEditActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.gcc.talk.gccOpenconversations.GccListOpenConversationsActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.gcc.talk.gccInvitation.GccInvitationsActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.gcc.talk.gccLock.GccLockedActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.gcc.talk.gccThreadsoverview.ThreadsOverviewActivity"
            android:theme="@style/AppTheme" />

        <receiver
            android:name="com.gcc.talk.gccReceivers.GccPackageReplacedReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.gcc.talk.gccReceivers.GccDirectReplyReceiver" />
        <receiver android:name="com.gcc.talk.gccReceivers.GccMarkAsReadReceiver" />
        <receiver android:name="com.gcc.talk.gccReceivers.GccDismissRecordingAvailableReceiver" />
        <receiver android:name="com.gcc.talk.gccReceivers.GccShareRecordingToChatReceiver" />

        <service
            android:name="com.gcc.talk.gccUtils.GccSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
            <meta-data
                android:name="android.provider.CONTACTS_STRUCTURE"
                android:resource="@xml/contacts" />
        </service>

        <service
            android:name="com.gcc.talk.gccUtils.GccAuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/auth" />
        </service>

        <service
            android:name="com.gcc.talk.gccServices.GccCallForegroundService"
            android:exported="false"
            android:foregroundServiceType="microphone|camera" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />

        </provider>

    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="*/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="*/*" />
        </intent>
        <intent>
            <action android:name="android.media.action.VIDEO_CAPTURE" />
        </intent>
    </queries>

</manifest>
